@model System.Collections.Generic.IList<Sleemon.Data.QuestionnaireListModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>