<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <unity>
    <aliases>
      <add alias="IDepartmentService" type="Sleemon.Core.IDepartmentService, Sleemon.Core" />
      <add alias="DepartmentService" type="Sleemon.Service.DepartmentService, Sleemon.Service" />
      <add alias="IEnterpriseNoticeService" type="Sleemon.Core.IEnterpriseNoticeService, Sleemon.Core" />
      <add alias="EnterpriseNoticeService" type="Sleemon.Service.EnterpriseNoticeService, Sleemon.Service" />
      <add alias="IExamService" type="Sleemon.Core.IExamService, Sleemon.Core" />
      <add alias="ExamService" type="Sleemon.Service.ExamService, Sleemon.Service" />
      <add alias="IGroupTaskService" type="Sleemon.Core.IGroupTaskService, Sleemon.Core" />
      <add alias="GroupTaskService" type="Sleemon.Service.GroupTaskService, Sleemon.Service" />
      <add alias="ILearningFileService" type="Sleemon.Core.ILearningFileService, Sleemon.Core" />
      <add alias="LearningFileService" type="Sleemon.Service.LearningFileService, Sleemon.Service" />
      <add alias="IMenuService" type="Sleemon.Core.IMenuService, Sleemon.Core" />
      <add alias="MenuService" type="Sleemon.Service.MenuService, Sleemon.Service" />
      <add alias="IMessageService" type="Sleemon.Core.IMessageService, Sleemon.Core" />
      <add alias="MessageService" type="Sleemon.Service.MessageService, Sleemon.Service" />
      <add alias="IPermissionService" type="Sleemon.Core.IPermissionService, Sleemon.Core" />
      <add alias="PermissionService" type="Sleemon.Service.PermissionService, Sleemon.Service" />
      <add alias="IQuestionnaireService" type="Sleemon.Core.IQuestionnaireService, Sleemon.Core" />
      <add alias="QuestionnaireService" type="Sleemon.Service.QuestionnaireService, Sleemon.Service" />
      <add alias="IRolePermissionService" type="Sleemon.Core.IRolePermissionService, Sleemon.Core" />
      <add alias="RolePermissionService" type="Sleemon.Service.RolePermissionService, Sleemon.Service" />
      <add alias="IRoleService" type="Sleemon.Core.IRoleService, Sleemon.Core" />
      <add alias="RoleService" type="Sleemon.Service.RoleService, Sleemon.Service" />
      <add alias="IStorePatrolService" type="Sleemon.Core.IStorePatrolService, Sleemon.Core" />
      <add alias="StorePatrolService" type="Sleemon.Service.StorePatrolService, Sleemon.Service" />
      <add alias="ITaskService" type="Sleemon.Core.ITaskService, Sleemon.Core" />
      <add alias="TaskService" type="Sleemon.Service.TaskService, Sleemon.Service" />
      <add alias="ITrainingService" type="Sleemon.Core.ITrainingService, Sleemon.Core" />
      <add alias="TrainingService" type="Sleemon.Service.TrainingService, Sleemon.Service" />
      <add alias="IUserService" type="Sleemon.Core.IUserService, Sleemon.Core" />
      <add alias="UserService" type="Sleemon.Service.UserService, Sleemon.Service" />
    </aliases>
    <container name="UnityContainer">
      <register type="IDepartmentService" mapTo="DepartmentService" />
      <register type="IEnterpriseNoticeService" mapTo="EnterpriseNoticeService" />
      <register type="IExamService" mapTo="ExamService" />
      <register type="IGroupTaskService" mapTo="GroupTaskService" />
      <register type="ILearningFileService" mapTo="LearningFileService" />
      <register type="IMenuService" mapTo="MenuService" />
      <register type="IMessageService" mapTo="MessageService" />
      <register type="IPermissionService" mapTo="PermissionService" />
      <register type="IQuestionnaireService" mapTo="QuestionnaireService" />
      <register type="IRolePermissionService" mapTo="RolePermissionService" />
      <register type="IRoleService" mapTo="RoleService" />
      <register type="IStorePatrolService" mapTo="StorePatrolService" />
      <register type="ITaskService" mapTo="TaskService" />
      <register type="ITrainingService" mapTo="TrainingService" />
      <register type="IUserService" mapTo="UserService" />
    </container>
  </unity>
  <connectionStrings>
    <add name="SleemonEntities" connectionString="metadata=res://*/SleemonEntities.csdl|res://*/SleemonEntities.ssdl|res://*/SleemonEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=114.55.88.135,1433;initial catalog=Sleemon;User ID=sa;Password=Soostep0000!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SleemonEntities" connectionString="metadata=res://*/SleemonEntities.csdl|res://*/SleemonEntities.ssdl|res://*/SleemonEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sleemon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SITE_DOMAIN" value="localhost" />
    <add key="SITE_SIGNIN_PATH" value="/Account/Login" />
    <add key="ROOT_DEPARTMENTS" value="1, 76" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules></httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>